/*Light Mode Colors*/
@media (prefers-color-scheme: light) {
    * {
        --blue-rgb: 33 150 243;
        --primary-rgb: var(--blue-rgb);
        --highlight1-rgb: 255 255 255;
        --highlight2-rgb: 142 191 222;
        --blob-color-1: rgb(var(--blue-rgb));
        --blob-color-2: dodgerblue;
        --background-rgb: 20 230 230;
    }
}

/*Dark Mode Colors*/
@media (prefers-color-scheme: dark) {
    * {
        --blue-rgb: 33 150 243;
        --primary-rgb: var(--blue-rgb);
        --highlight1-rgb: 255 255 255;
        --highlight2-rgb: 142 191 222;
        --blob-color-1: rgb(var(--blue-rgb));
        --blob-color-2: dodgerblue;
        --background-rgb: 54 79 100;
    }
}

* {
    --transition-timeSlow: 1s;
    --transition-timeFast: 0.25s;
    /*outline: 1px solid red;*/
}

.screen {
    margin: 4rem 0;
    max-width: 55%;
    width: 60%;
    height: fit-content;
    display: flex;
    box-shadow: 0px 0px 10px 5px rgb(var(--primary-rgb) / 50%);
    border-radius: 1rem;
    background-color: rgb(var(--primary-rgb) / 15%);
    overflow: hidden;
    position: relative;
    z-index: 10;
}

 /*screen__form*/

.screen__form {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    gap: 1rem;
    overflow: hidden;
    bottom: 20%;
    left: 10%;
    right: 10%;

    padding: 1rem;
}

.screen__form-email, .screen__form-password, .screen__form-submit {
    width: 100%;
    height: 3rem;
    border: 1px solid rgb(var(--primary-rgb) / 50%);
    border-radius: 0.6rem;
    background-color: rgb(var(--primary-rgb) / 40%);
    color: rgb(var(--highlight1-rgb));
    font-size: 1.25rem;
    font-family: "Source Code Pro", monospace;
    transition-timing-function: ease-out;
    transition-duration: var(--transition-timeFast);
    transition-property: border-color, border-width;
    box-shadow: 5px rgb(var(--primary-rgb) / 60%);
    outline: none;
    padding-block: 0px;
    padding-inline: 0px;
    padding: 0rem 1rem;
    text-align: center;
}

    .screen__form-email:is(:focus, :hover),
    .screen__form-password:is(:focus, :hover),
    .screen__form-submit:is(:focus, :hover) {
        border-color: rgb(var(--primary-rgb));
        border-width: 3px;
    }

h1 {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    color: rgb(var(--primary-rgb));
    margin: 0;
}

p {
    max-width: 80%;
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
    color: rgb(var(--primary-rgb));
    height: fit-content;
}


/*media querry for small screens*/
@media (max-width: 700px), (max-height: 700px) {
    .screen {
        width: 90%;
        aspect-ratio: revert;
        max-width: revert;
    }

    .screen__form {
        gap: 1rem;
        bottom: 10%;
    }
}